.QuestionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 0.2em solid #A8A8C8;
    border-radius: 0.9em;
    height: 90px;
    width: 390px;
    color: gainsboro;
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.radio-input-wrapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.label {
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  padding: 14px 16px;
  margin: 5px 0;
  cursor: pointer;
  transition: .3s;
}

.radio-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.radio-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: gainsboro;
  position: relative;
}

.radio-design::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #05161A;
  transform: scale(1.1);
  transition: .3s;
}

.radio-input:checked+.radio-design::before {
  transform: scale(0);
}

.label-text {
  color: gainsboro;
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  transition: .3s;
}

.label-text:hover {
  color: #FFFFFF;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .QuestionContainer {
        width: 90%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .question {
        font-size: 0.8em;
        width: 100%;
        height: auto;
    }

    .label-text {
        font-size: 0.8em;
        letter-spacing: 0.3em;
    }

    .radio-design {
        width: 1.2em;
        height: 1.2em;
    }

    .radio-input-wrapper {
        flex-direction: column;
    }

    .slider {
        width: 100%;
    }
}

/* Checked radio state */
.radio-input:checked~.label-text {
  color: #072E33;
  text-shadow:  0 1px 1px  #05161A;
}

.radio-input:checked+.label {
  border: 1px solid black;
}

.slider {
  -webkit-appearance: none;
  width: 67%;
  height: 10px;
  border-radius: 5px;
  background-color:#05161A;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gainsboro;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gainsboro;
  cursor: pointer;
}

.slider-value {
  text-align: center;
}
